{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "parser": "typescript",
  "plugins": [
    "prettier-plugin-organize-imports"
  ]
}