<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Package Submitted</title>
</head>

<body>

    <h1>New Package Submitted</h1>
    <p>A new package has been submitted. Click the link below to view the package</p>
    <a href="<%= link %>">Track Package</a>
    
    

    <p>Thanks</p>
    <p>Gbewa Kia Team</p>
</html>