<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>

    <h1>Reset Your Password</h1>
    <p>Click the link below to reset your password. This link will expire in 30 minutes</p>
    <a href="<%= link %>">Reset Password</a>

    <p>If you did not request a password reset, please ignore this email.</p>

    <p>Thanks</p>
    <p>Gbewa Kia Team</p>

</body>

</html>